[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

click = "*"
btctxstore = {git = "git@github.com:xgess/btctxstore.git", editable = true, ref = "pin-pycoin"}


[dev-packages]

pytest = "*"
pyflakes = "*"
ipython = "*"
pluggy = "*"
pytest-flakes = "*"
ipdb = "*"
mypy = "*"


[requires]

python_version = "3.6"
